.backdrop {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background: linear-gradient(#000000, transparent, #000000),
		url('/resources/images/1.jpg') no-repeat center bottom;
	background-attachment: fixed;
	background-size: cover;
}

.context,
.context * {
	display: flex;
}

.context {
	width: 100vw;
	min-height: 100vh;
	justify-content: center;
}

.context>.content {
	width: 100vw;
	max-width: 1000px;
	flex-flow: column;
	justify-content: center;
}

.exhibit {
	width: 100%;
	height: 100%;
	align-items: center;
}

.videoBox {
	width: 100%;
	max-width: 100vw;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

.videoBox>.videoPlayer {
	width: 100%;
	height: 100%;
	position: absolute;
}

