.backdrop {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background: linear-gradient(#000000, transparent, #000000), url('/resources/images/banner1.jpg') no-repeat center bottom;
	background-attachment: fixed;
	background-size: cover;
}

.footer {
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 100;
}
.footer > * {
	display: flex;
	justify-content: flex-end;
}

.context,
.context * {
	display: flex;
}

.context {
	width: 100vw;
	min-height: 100vh;
	justify-content: center;
}

.context > .content {
	width: 100vw;
	max-width: 1000px;
	flex-flow: column;
}

.exhibit {
	width: 100%;
	height: 100%;
	align-items: center;
	flex-flow: column;
	justify-content: center;
}

.bulletin {
	width: 100%;
	margin: 0.2rem;
	font-size: 0.2rem;
	padding: 0.2rem;
	flex-flow: column;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	border: 1.5px dotted #aebac8;
}
.distributor {
	flex-flow: row wrap;
}
.distributor > input[type="button"] {
	color: lightgray;
	display: inline-block;
	margin: 0.1rem;
	padding: 0.1rem;
	font-size: 0.2rem;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.4);
	border: 1.5px solid #28d4ffa6;
	border-radius: 4px;
}

.productRow {
	width: 100%;
	align-items: stretch;
	flex-flow: row wrap;
	justify-content: space-between;
}

.productItem {
	flex-flow: column;
	justify-content: flex-start;
	width: 30%;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
}

.productItem > img {
	width: 100%;
	object-fit: cover;
	visibility: hidden;
}

.productItem > :not(img) {
	margin: 0.1rem;
}

.productItem * {
	flex-flow: column;
}

input[name='submit'] {
	margin-top: 0.1rem;
	align-self: flex-end;
	max-width: 100%;
}

form[onsubmit$='false'] input {
	-webkit-filter: grayscale(1);
	filter: gray;
	filter: grayscale(1);
	cursor: default;
}
